##########################
## Java
##########################
*.class
*.jar
*.war
build/
gradle/
.gradle/
##########################
## IntelliJ
##########################
*.iml
.idea/
out/
.idea_modules/

